body {
    box-sizing: border-box;

}

/* Homepage Styling */

.heading {
    font-size: x-large;
    color: #015065b9;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.sort-functions {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.book-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: #015065b9;
}

.nav-link {
    color: white;
}


footer {
    color: white;
}